<div class="container">
  <div class="login-section">
    <form id="login">

      <div class="login-form">
        <h1 class="login-title">{{title}}</h1>

        {{{loginInput}}}

        {{{passwordInput}}}

        <div class="forgot-password">
          <a href="#">Забыли пароль?</a>
        </div>
        <div>
          {{{loginButton}}}
        </div>

        {{{absenceText}}}
      </div>
    </form>

  </div>

  <div class="preview-section">
    <div class="planero-logo">PLANERO</div>
    <div>
      <div class="phone-mockup-container-outer">
        <div class="phone-mockup-container-inner">
          <div class="phone-mockup">
            <div class="statistics-section">
              <div class="mockup-header">
                <div class="mockup-title">Расходы за июль</div>

              </div>
              <div class="expense-chart">
                <div class="chart-circle">
                  <div class="chart-center">₽102 907</div>
                </div>
              </div>
              <div class="category-tags">
                {{#each categories}}
                  {{{this}}}
                {{/each}}
              </div>

            </div>
            <div
              style="display: flex; flex-direction: column;"
              class="card-section"
            >
              <div style="display: flex; justify-content: flex-end;">
                <a href="#" class="show-more">показать больше</a>
              </div>

              <div class="expense-cards">
                {{#each expenseCards}}
                  {{{this}}}
                {{/each}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="vectors-bottom">
        <div class="vector-row">
          <img src="../../../public/imgs/Vector.png" alt="" />
          <div class="bottom-text">Планируй вместе с нами!</div>
          <img src="../../../public/imgs/Vector.png" alt="" />
        </div>
        <div class="vector-row">
          <img src="../../../public/imgs/Vector.png" alt="" />
          <img src="../../../public/imgs/Vector.png" alt="" />
        </div>
      </div>
    </div>

  </div>
</div>