<div class="container">
  <div class="login-section">
    <form id="login">
      <div class="login-form">
        <h1 class="login-title">{{title}}</h1>

        {{{loginInput}}} {{{passwordInput}}}

        <div class="forgot-password">
          <a href="#">Забыли пароль?</a>
        </div>
        <div>{{{loginButton}}}</div>

        {{{absenceText}}}
      </div>
    </form>
  </div>

  <div class="preview-section">
      <div class="vectors-bottom_up">
            <div class="vector-row-left_up">
                <img src="/imgs/Vec_down.svg" alt="" />
                <img src="/imgs/Vec_right.svg" alt="" />
            </div>
            <div class="planero-logo">PLANERO</div>
            <div class="vector-row-right_up">
                <img src="/imgs/Vec_up.svg" alt="" />
                <img src="/imgs/Vec_left.svg" alt="" />
            </div>
      </div>
      <img src="/imgs/Login_card_img.svg" alt="logn_img_card">
      <div class="vectors-bottom">
        <div class="vector-row-left">
          <img src="/imgs/Vector.png" alt="" />
          <img src="/imgs/Vector.png" alt="" />
        </div>
          <div class="logo_planero">
              <div class="bottom-text">
                  <p>Планируй вместе с нами!</p>
                  <img src="/imgs/logo_main.svg" alt="">
              </div>
          </div>
        <div class="vector-row-right">
          <img src="/imgs/Vector.png" alt="" />
          <img src="/imgs/Vector.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
