<div class="container">
  <div class="LeftPart">
    {{{menu}}}
  </div>

  <div id="main">
    <h1 class="general">Общее</h1>
    <div class="section">

      <div class="left-section">
        <div class="balance">
          <h2 class="balance-text">Баланс</h2>
          {{{FactBal}}}
        </div>
        <div class="Plan-Balance">
          {{{PlanBal}}}
        </div>
        <div class="Add">
          {{{Add}}}
        </div>
      </div>

      <div class="right-section">
        <div class="banks">
          <h2 class="balance-text">Счета</h2>
          <div class="card_handler">
            {{{cards}}}
            <div class="card_but_hand">
              {{{addCard}}}
            </div>
          </div>
          {{{operations}}}
        </div>
      </div>

    </div>
  </div>
</div>