<div class="container">

  <div class="preview-section">
    <div class="decorative-leaves">
      <div class="leaf"></div>
      <div class="leaf"></div>
      <div class="leaf"></div>
    </div>
    <img src="/imgs/Reg_card_img.svg" alt="" style="margin-top: 6vh" />

    <div class="content-section">
      <div class="bottom-text">Планируй, Управляй и Приумножай</div>
      <div class="slogans">
        {{#each slogans}}
          <p class="description"> {{{this}}}</p>
        {{/each}}
      </div>
    </div>
    <div class="vectors-bottom_down">
      <div class="vector-row-left_down">
        <img src="/imgs/Vec_down.svg" alt="" />
        <img src="/imgs/Vec_right.svg" alt="" />
      </div>
      <div class="planero-logo">PLANERO</div>
      <div class="vector-row-right_down">
        <img src="/imgs/Vec_up.svg" alt="" />
        <img src="/imgs/Vec_left.svg" alt="" />
      </div>
    </div>

    <div class="decorative-patterns">
      <div class="pattern" style="bottom: 0;"></div>
      <div class="pattern" style="bottom: 20px; transform: scaleX(-1);"></div>
      <div class="pattern" style="bottom: 40px;"></div>
    </div>
  </div>

  <div class="signup-section">
    <form id="signup">

      <div class="signup-form">
        <h1 class="signup-title">{{title}}</h1>

        {{{loginInput}}}
        {{{emailInput}}}
        {{{passwordInput}}}

        <div>
          {{{signUpButton}}}
        </div>

        {{{absenceText}}}
      </div>
    </form>

  </div>
</div>