<div class="container">
    <div class="sections">
        <div class="LeftPart">
            {{{menu}}}
        </div>
        <div id="main">
            <h1 class="general">Управление транзакциями</h1>
            <div class="Transact-categories">
                {{{ transactions }}}
                {{{ categories }}}
        </div>
    {{{ addOperations }}}
    {{{ addCategories }}}
</div>

