<div class="cards__list">
    <div class="cards__list_scroll">
    {{#if cards_exists}}
        {{#each cardsItems}}
        <div class="cards__item">
            <div class="cards__avatar_and_title">
                <div class="cards__avatar"></div>
                <div class="cards_info_title">
                    <div class="cards__title">
                        {{ card_id }}
                    </div>
                    <div class="cards__status">
                        Фактический
                    </div>
                    <div class="cards__price">
                        {{ card_balance }}
                    </div>
                </div>
            </div>
            <div class="cards__type">
                {{ card_type }}
            </div>
            <div class="cards__date_of_creation">
                Создан: {{ card_created_at }}
            </div>
            <div class="cards__activity_type">
                активен
            </div>
            <div class="kebab-card-menu">
                <button class="kebab-btn-card">&#8942;</button>
                <div class="popup-menu-cards">
                    <button class="card-edi">
                        Редактировать <img src="/imgs/RedactButtonImg.svg" alt="" />
                    </button>
                    <button class="card-del">
                        Удалить <img src="/imgs/DeleteButtonImg.svg" alt="" />
                    </button>
                </div>
            </div>
        </div>
        {{/each}}
    {{else}}
        <div>
            <div class="oper_not_exists">
                <div class="oper_not_exists_img"></div>
                <h2 style="color: #949494; font-size: 20px">Тут пока ничего нет :(</h2>
            </div>
        </div>
    {{/if}}

    </div>
</div>