<<<<<<< HEAD
<span class="category-tag {{category}}">{{category_name}}</span>
=======
<span
  class="category-tag"
  style="background: {{color}}; color: {{text_color}}"
>{{category_name}}</span>
>>>>>>> 27fa6ce (chart-circle login style fixes)
