<div class="service-item">
  <div class="service-icon {{db_name}}">{{logo}}</div>
  <div class="service-info">
    <div class="service-name">{{name}}</div>
    <div class="service-date">{{date_text}}</div>
  </div>
  <div class="service-amount">-{{sum}}{{curr}}</div>
</div>
